*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family:"Montserrat", sans-serif;
}

header{
    background-color: rgb(175, 196, 134);
}
.nav-1{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.9rem;
    padding-top: 4px;
}
.buscar{
    display: flex;
    gap: 5px;
    i{
        font-size: 2rem;
        display: flex;
        gap: 4rem;
    }
}


.nav-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    }
}
h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 2rem;
}
img{
    width: 70px;
    height: 50px;
}
.productos{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-bottom: 8rem;
    img{
        align-items: center;
        text-align: center;
        display: flex;
    }
}
.adidas,.nike,.puma,.stork{
    display: flex;
    justify-content: center;
}